[run]
branch = True
omit =
    tests/*
    env/*

[report]
exclude_lines =
    # Don't complain if tests don't hit defensive assertion code:
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.: