[run]
branch = True
# uncomment to avoid checking coverage in test code
# omit =
#      tests/*
# data_file = ?????

[report]
exclude_lines =
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    def __repr__
    if __name__ == .__main__.:
skip_covered = True

[html]
directory = .coverage_report

[xml]
output = .coverage_report/cov.xml
