# vs code stuff
.vscode
*.code-workspace

# python stuff
__pycache__

# python coverage stuff
.coverage_report
.coverage

# pytest stuff
.pytest_*

#mypy stuff
.mypy_cache

# project specific
out/
out_do_one/
